@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins';
        background-image: url(../img/zyro-image.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    header img{
        width: 200px;
        margin-left: 42%;
        
        
    }
    h2{
      text-align: center;
      color:#f58634;
    }
    .container{
        width: 30%;
        background-color: white;
        border-radius: 10px;
        margin: 0 auto;
        justify-content: center;
        margin-top: 15%;
        
    }

    div{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.input{
  padding: 6px;
  border-radius: 5px;
}

.labelInput{
  pointer-events: none;

  position: absolute;
  margin-top: 5px;
  margin-left: 5px;

  transition: 0.3s;
}

div input:focus + label, div input:valid + label{
  font-size: 14px;
  margin-top: -10px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}

input[type="text"]:focus, input[type="time"]:focus {
  border-color: #f58634;
  outline: none;
}


.btn{
    width: 50%;
    padding: 10px;
    align-self: center;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
