@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

body{
    font-family: 'poppins';
}

 .logo{
    padding: 30px;
     width: 220px;
     position: relative;
     left: 150px;
 }

.ti
header{
    color: #f58634;
    margin-bottom: 1%;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    margin-top: 100px;
    margin-left: 400px;

}
.card {
  background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #015367;
    transition: transform 0.3s ease-in-out;
    
}
.card h2 {
    font-size: 26px;
    margin-bottom: 5px;
}
.card p {
    font-size: 20px;
    margin-bottom: 10px;
    word-wrap: normal;
    width: 100%;
}


.card:hover{

    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


*{
    margin: 0;
    padding: 0;
    padding-top: 2px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Monitoramento\ de\ atividades\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }

    button{
      position: relative;
      height: 60px;
      width: 150px;
      border: none;
      outline: none;
      color: white;
      background: #111;
      cursor: pointer;
      border-radius: 5px;
      font-size: 18px;
      font-family: 'Raleway', sans-serif;
    }
    button:before{
      position: absolute;
      content: '';
      top: -2px;
      left: -2px;
      height: calc(100% + 4px);
      width: calc(100% + 4px);
      border-radius: 5px;
      z-index: -1;
      opacity: 0;
      filter: blur(5px);
      background: linear-gradient(45deg, #9bd3e3, #334dff, #1a2c80, #0e1a5b, #040f3e, #00051f);  
      background-size: 400%;
      transition: opacity .3s ease-in-out;
      animation: animate 20s linear infinite;
    }
    button:hover:before{
      opacity: 1;
    }
    button:hover:active{
      background: none;
    }
    button:hover:active:before{
      filter: blur(2px);
    }
    @keyframes animate {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
    }

.dot{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    
}

.dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr);
}

#reload-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  #reload-container.hide {
    opacity: 0;
  }
  
  /*=================Botao pontuação==================*/

  .menu-container {
    position: fixed;
    top: -10px;
    left: -350px;
    width: 340px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
    z-index: 1;
    transition: all 0.3s ease;
  }
  
  .menu-container.open {
    left: 0;
  }
  
  .menu {
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 2;
  }
  
  .menu li span:first-child {
    font-weight: bold;
    margin-right: 10px;
  }
 
  .close-menu-btn {
    position: absolute;
    top: 25px;
    margin-left: 35px;
  }

  .desclist{
    font-size: larger; 
    margin-top: 5px;
    margin-left:40px;
    font-weight: bold;
}

.linha{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  line-height: 2;
}

		.clock {
			font-size: 2rem;
			font-weight: bold;
      color: rgba(255, 255, 255, 0.473);
      margin-left: 90%;
      top: 10px;
      position: fixed;
		}
  
  @media (max-width: 767px) {
    .menu-container {
      width: 100%;
      left: -100%;
    }
  
    .menu-container.open {
      left: 0;
    }
  }