
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

body{
    font-family: 'poppins';
}

 .logo{
    padding: 30px;
     width: 220px;
     position: relative;
     left: 150px;
 }

.ti
header{
    color: #f58634;
    margin-bottom: 1%;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #E4E5E4;
    box-shadow: 2px 2px 2px 2px gray;
    width: 80%;

}
.card {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid blue;
    transition: transform 0.3s ease-in-out;
    
}
.card h2 {
    font-size: 26px;
    margin-bottom: 5px;
}
.card p {
    font-size: 20px;
    margin-bottom: 10px;
    word-wrap: normal;
    width: 100%;
}

.hora{
text-align:end;
height: 10px;
}

.card:hover{

    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


*{
    margin: 0;
    padding: 0;
    padding-top: 2px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Monitoramento\ de\ atividades.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    }

#time{
    display: flex;
    gap: 40px;
    color: black;
    margin-bottom: 3%;
}

#time .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
}

#time div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#time div span{
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.35em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#time .ap{
    position: relative;
    font-size: 1em;
    transform: translate(-20px);
}

.dot{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    
}

.dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr);
}

#reload-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  #reload-container.hide {
    opacity: 0;
  }
  
  /*=================Botao pontuação==================*/

  .menu-container {
    position: fixed;
    top: -10px;
    left: -350px;
    width: 340px;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    transition: all 0.3s ease;
  }
  
  .menu-container.open {
    left: 0;
  }
  
  .menu {
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 2;
  }
  
  .menu li span:first-child {
    font-weight: bold;
    margin-right: 10px;
  }
 
  .close-menu-btn {
    position: absolute;
    top: 25px;
    margin-left: 35px;
  }

  .desclist{
    font-size: larger; 
    margin-top: 5px;
    margin-left:40px;
    font-weight: bold;
}

.linha{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  line-height: 2;
}
  
  @media (max-width: 767px) {
    .menu-container {
      width: 100%;
      left: -100%;
    }
  
    .menu-container.open {
      left: 0;
    }
  }